main{
    background: linear-gradient(0deg, rgb(255, 255, 255) 0%, #2E5364 100%);
}

aside{
    background-color: rgba(0, 0, 0, 0.801);
    color: white;
    font-weight: bolder !important;
    font-size: 17px;
}
.desplazamiento{
    transition: 0.2s;
    border-radius: 20px;
}

.max-heigth{
    max-height: 300px;
}
.desplazamiento:hover{
    transform: scale(1.01);
    -webkit-box-shadow: 0px 0px 22px 0px rgba(92,92,92,1);
-moz-box-shadow: 0px 0px 22px 0px rgba(92,92,92,1);
box-shadow: 0px 0px 22px 0px rgba(92,92,92,1);
}
.categoria{
    text-decoration: none;
    list-style: none;
}
.categoria > h4{
    font-weight: bolder;
}
.oferta {
    background-image: linear-gradient(
      to right,
      #4CCBC4,
      #ffffff 50%,
      rgb(255, 255, 255) 50%
    );
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 5px 0;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
  }
  
  .oferta:before{
    content: '';
    background: #F2F1EC;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
  }
  
  .oferta:hover {
   background-position: 0;
  }
  
  .oferta:hover::before{
    width: 100%;
  }

  @media (min-width:1400px) {
    aside{
        max-width: 300px !important;
    }

  }